
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @if (Context.User.Identity.IsAuthenticated == true)
    {
        <h1>
            Bienvenido @Context.User.Identity.Name
        </h1>
        <hr />
    }
    <section class="content-header">
       
        <h2>
            @*            <button id="myButton" class="btn btn-primary">Mostrar SweetAlert</button>
            *@            Punto de Venta e Inventario
        </h2>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-success animated slideInRight">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Venta</h3>
                        
                    </div>
                    <div class="box-body">
                        <!-- Contenido relacionado con las ventas -->
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Vender</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Index", "Venta")" class="btn btn-default">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!-- Add other rows here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-info animated slideInRight">
                    <div class="box-header with-border" >
                        <h3 class="box-title"><i class="fa fa-cubes"></i> Productos</h3>
                    </div>
                    <div class="box-body">
                        <!-- Contenido relacionado con los productos -->

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Buscar productos</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("BuscarProductos", "Productos")" class="btn btn-default">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Crear Producto</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("BaseProducto", "Producto")" class="btn btn-default">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gestionar Detalles Productos</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("ControlDetalle", "Producto")" class="btn btn-default">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!-- Add other rows here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-warning animated slideInRight">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-database"></i> Inventario</h3>
                    </div>
                    <div class="box-body">
                        <!-- Contenido relacionado con el inventario -->
                        <!-- Puedes agregar tus propios elementos y diseño aquí -->
                        <p>Aquí puedes gestionar el inventario de productos.</p>
                        <a href="#" class="btn btn-primary"><i class="fa fa-list-alt"></i> Ver inventario</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>