@using Agroservicio.Models;
@{
    var DireccionesCliente = new List<DireccionCliente>();
    if (ViewBag.DireccionesCliente != null)
    {
        DireccionesCliente = (List<DireccionCliente>)ViewBag.DireccionesCliente;
    }

    var Clientes = new List<Cliente>();
    if (ViewBag.Clientes != null)
    {
        Clientes = (List<Cliente>)ViewBag.Clientes;
    }
}
<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<div class="container">
    <h2>Crear Direccion </h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-left ">
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#crearAcordeon">Crear</button>
                    </div>
                </div>
                <div id="crearAcordeon" class="collapse">
                    <div class="card-body">
                        <form action="/Cliente/CrearDireccion" method="post">
                            <div class="form-group">
                                <label for="Direccion">Nombre</label>
                                <input type="text" id="Direccion" name="Direccion" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="grupo">Cliente</label>
                                <select id="IdCliente" name="IdCliente" required>
                                    @foreach (var Cliente in Clientes)
                                    {
                                        <option value="@Cliente.Id">@Cliente.Nombre</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Direcciones Creadas</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>IdCliente</th>
                                            <th>Nombre</th>
                                            <th class="text-center"> Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in DireccionesCliente)
                                        {
                                            <tr>
                                                <td style="width:50%">@item.IdCliente</td>
                                                <td style="width:50%">@item.Direccion</td>
                                                <td class="text-center">
                                                    <button class="btn btn-primary editar-btn" data-id="@item.Id" data-nombre="@item.Direccion">Editar</button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>

<!-- Modal para editar -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editarForm" action="@Url.Action("EditarDireccion", "Cliente")" method="post">
                <div class="modal-body">
                    <input type="hidden" id="ElementoId" name="Id" />
                    <div class="form-group">
                        <label for="nuevoNombre">Nuevo Nombre:</label>
                        <input type="text" class="form-control" id="nuevoNombre" name="Direccion" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Botón Editar
            $(".editar-btn").click(function () {
                var ElementoId = $(this).data("id");
                var nombreActual = $(this).data("nombre");
                $("#ElementoId").val(ElementoId);
                $("#nuevoNombre").val(nombreActual);
                $("#editarModal").modal("show");
            });
        });
    </script>

    <script>
        var creacionExito = '@TempData["CreacionExito"]';
        var error = '@TempData["Error"]';
        var mensaje = '@TempData["Mensaje"]';

        if (creacionExito === "Si") {
            Swal.fire({
                title: "",
                text: mensaje,
                icon: "success"
            });
        }

        if (error === "Si") {
            Swal.fire({
                title: "Error",
                text: mensaje,
                icon: "error"
            });
        }
    </script>
}




