<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Búsqueda</title>
    <style>
        .checkboxSeleccion {
            width: 15px; /* Ajusta el ancho */
            height: 15px; /* Ajusta la altura */
            /* Para mejorar la accesibilidad y mantener la calidad visual */
            transform: scale(1.5); /* Ajusta el factor de escala según sea necesario */
            -webkit-transform: scale(1.5); /* Soporte para navegadores webkit */
            -moz-transform: scale(1.5); /* Soporte para Firefox */
            -o-transform: scale(1.5); /* Soporte para Opera */
            -ms-transform: scale(1.5); /* Soporte para Internet Explorer */
            margin: 10px; /* Ajusta el margen según sea necesario */
        }
    </style>
 
</head>
<body>
    <div class="modal-header">
        <h5 class="modal-title">Resultados de Búsqueda</h5>
        <div class="ml-auto">
            <button class="btn btn-primary" onclick="MostrarIdSeleccionados()">Agregar <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center">Nombre</th>
                <th style="text-align:center">Imagen</th>
                <th style="text-align:center">Precio</th>
                <th style="text-align:center">Existencia</th>
                <th style="text-align:center">Cantidad</th>
                <th style="text-align:center">Selección</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model)
            {
                var IdCantidad = "CantidadProducto" + Item.ProductoId;

                <tr>
                    <td style="text-align:center">@Item.BaseProductoNombre @Item.EmpaqueNombre @Item.MarcaNombre</td>
                    <td style="text-align:center">
                        @if (Item.RutaImagen != null)
                        {
                            <!-- Agrega un botón para mostrar la imagen como popover -->
                            <button type="button" class="btn btn-default" data-toggle="popover" title="Imagen" data-content="<img src='/ImagenesProductos/@Item.RutaImagen' class='img-fluid' alt='Product Image'>">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </button>
                        }
                        else
                        {
                            <p>Sin imagen</p>
                        }
                    </td>
                    <td style="text-align:center">Q @Item.ProductoPrecio </td>
                    <td style="text-align:center">@Item.ProductoExistencia</td>
                    @if (Item.ProductoExistencia == 0)
                    {
                        <td style="text-align:center">
                            <p>No hay existencia disponible</p>
                        </td>
                        <td style="text-align:center">
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center">
                            <input type="number" id="@IdCantidad" disabled />
                        </td>
                        <td style="text-align:center">
                            <input type="checkbox" class="checkboxSeleccion" id="@Item.ProductoId" data-existencia="@Item.ProductoExistencia" onchange="ValidarSeleccion(this, '@Item.ProductoExistencia')">
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        function MostrarIdSeleccionados() {
            var DatosSeleccionados = [];
            var valid = true;

            $('.checkboxSeleccion:checked').each(function () {
                var idProducto = $(this).attr('id');
                var cantidad = parseInt($('#CantidadProducto' + idProducto).val());
                var existencia = parseInt($(this).data('existencia'));

                if (cantidad > existencia) {
                    Toast.fire({
                        icon: 'error',
                        title: 'La cantidad ingresada para el producto con ID ' + idProducto + ' excede la existencia disponible.'
                    });
                    valid = false;
                    return false;
                }

                if (cantidad > 0) {
                    DatosSeleccionados.push({ Id: idProducto, Existencia: existencia });
                }
                else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Hay  lineas seleccionadas sin indicar cantidad'
                    });

                    valid = false;
                    return false;
                }
            });
            if (valid) {
                if (DatosSeleccionados.length === 0) {
                    Toast.fire({
                        icon: 'error',
                        title: 'No hay lineas seleccionadas'
                    });
                    return false;
                }
                $.ajax({
                    url: '@Url.Action("InsertarProducto", "Venta")',
                    type: 'POST',
                    data: {
                        DatosSeleccionados
                    },
                    success: function (result) {

                        Toast.fire({
                            icon: 'success',
                            title: result.message
                        })
                        // Esperar medio segundo antes de recargar la página
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    },
                    error: function (xhr, status, error) {
                        swal({
                            title: "Error",
                            text: "Ocurrió un error al realizar la solicitud.",
                            type: "error"
                        });
                    }
                });
            }
        }

        function ValidarSeleccion(checkbox, existencia) {
            var idProducto = checkbox.id;
            var cantidadInput = $('#CantidadProducto' + idProducto);
            if (checkbox.checked) {
                cantidadInput.prop('disabled', false);
            } else {
                cantidadInput.prop('disabled', true);
                cantidadInput.val('');
            }
        }

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'hover'
            });

            $('.checkboxSeleccion').each(function () {
                ValidarSeleccion(this, $(this).data('existencia'));
            });
        });
    </script>
</body>
</html>
